@tailwind base;
@tailwind components;
@tailwind utilities;

/* 컨텐츠 높이와 상관없이 footer 하단 고정 */
.custom-footer-height {
  min-height: calc(100vh - 250px);
}

/* 랜딩 페이지 카드 애니메이션 */
@keyframes cardRotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.card-animate1 {
  animation: cardRotate 4s ease-in-out infinite;
}
